.background-mobile {
    background-image: url(../images/test1.jpg);
    background-size: cover;
}

.background-desktop {
    background-image: url(../images/test1-desktop.jpg);
    background-size: cover;
}

.background-test {
    background-image: url(../images/test3.jpg);
    background-size: cover;
}

.content-center {
    display: flex;
    align-items: center;
}